/* ================= BASE ================= */
@import url("base/reset.css");
@import url("base/variables.css");
@import url("base/base.css");

/* ================= LAYOUT ================= */
@import url("layout/header.css");
@import url("layout/topbar.css");
@import url("layout/navbar.css");
@import url("layout/sidebar.css");
@import url("layout/footer.css");

/* ================= COMPONENTS ================= */
@import url("components/hero.css");
@import url("components/promo.css");
@import url("components/suku-bunga.css");
@import url("components/berita.css");
@import url("components/prestasi.css");
@import url("components/kontak.css");
