@import url("/css/base/reset.css");
@import url("/css/base/variables.css");
@import url("/css/base/base.css");

@import url("/css/layout/header.css");
@import url("/css/layout/topbar.css");
@import url("/css/layout/navbar.css");
@import url("/css/layout/sidebar.css");
@import url("/css/layout/footer.css");

@import url("/css/components/hero.css");
@import url("/css/components/promo.css");
@import url("/css/components/suku-bunga.css");
@import url("/css/components/berita.css");
@import url("/css/components/prestasi.css");
@import url("/css/components/kontak.css");
