body {
    font-family: var(--font-base);
    font-size: var(--font-size-base);
    color: var(--gray-900);
    background-color: #ffffff;
    overflow-x: hidden;
}

.bg-bpr-blue {
    background-color: var(--bpr-blue);
}

.bg-bpr-blue i {
    font-size: 13px;
    color: var(--bpr-gold);
}
